*{
    padding: 0px;
    margin: 0px;
}

:root{
    --background-color: #378BAF;
    --reset-button: rgb(255, 200, 0);
}

body{
    background: rgb(76, 76, 76);
    margin: auto;
}

#game_container{
    width: 600px;
    height: 100vh;
    background: var(--background-color);
    margin: auto;
}

header{
    padding: 25px;
}

nav{
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.score{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.score img{
    width: 50%;
} 

.score div{
    display: flex;
    flex-direction: row;
    gap: 10px;

    align-items: center;
    font-size: 35px;
}

#emoji{
    font-size: 60px;
}

.timer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.timer div{
    font-size: 40px;
}

main{
    text-align: center;
}

#game_board{
    width: 500px;
    height: 500px;
    border: 2px solid white;

}

#restart_button{
    font-size: 40px;
    padding: 15px;
    border: none;
    border-radius: 20px;

    margin-top: 20px;
    background-color: var(--reset-button);
}